.DS_Store
project-database/db-data/mysql-biodata/
project-database/init.sql





// Description [VS-CODE SHORTCUT]

-- Navigate to Previous Location:
Control + -
-- Navigate to Next Location:
Control + Shift + -


// on ec2 

// run once then no sudo is needed 
sudo chmod 777 /var/run/docker.sock
