.DS_Store
project-database/db-data/mysql-biodata/
project-database/init.sql





// Description [VS-CODE SHORTCUT]

-- Navigate to Previous Location:
Control + -
-- Navigate to Next Location:
Control + Shift + -